# Ignore everything by default
*

# Allow necessary files and directories
!.gitignore
!.github
!README.md

# Do not ignore the wp-content directory itself
!wp-content/

# Ignore everything inside wp-content
wp-content/*

# Allow the themes directory inside wp-content
!wp-content/themes/

# Ignore everything inside the themes directory
wp-content/themes/*

# Allow your specific theme directory
!wp-content/themes/senset-theme/
!wp-content/themes/senset-theme/**

# Ignore all plugins
wp-content/plugins/
